.tab{
    width: auto;
    padding: 0px 2px;
    border-radius: 2px;
    background-color: grey;
    line-height: 100px;
    font-weight: bold;
    box-shadow: 10px 10px 20px black;
    overflow: auto;
}
.tab-items{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-flex;
}
body{
    background-color: white;
}
.tab-item {
    display: inline;
}
.tab-item.active .item-link {
    color: black;
}
.item-link {
    padding: 0px 20px;
    color: bisque;
    text-decoration: none;
    display: inline-block;
    margin-left: 100px;
}
.item-link-different {
    color: aqua;
    padding: 0 400px;
    margin-left: 30px;
}
.item-link-different:hover {
    color: black;
    text-decoration: underline;
    font-size: 20px;
}
.item-link:hover {
    color: black;
    text-decoration: underline;
}
.tab-indicator {
    height: 30px;
    background-color: rgb(123, 189, 189);
    border-radius: 5px 5px 0 0;
    align-self: flex-end;
}
h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 35px;
}
.main{
    margin-top: 50px;
}
p{
    text-align: center;
    font-size: 20px;
}
#p1 {
    text-align: justify;
    margin-left: 20px;
    font-weight: bold;
    text-decoration:underline;
}
.container{
    border: 2px solid black;
    margin-top: 150px;
    justify-content: center;
    height: 500px;
    width: 80%;
    margin-left: 10%;
}
.questions{
    border: 2px solid red;
    width: 50%;
    padding: 15px 5px;
    border-radius: 10px;
    box-shadow: 4px 4px 2px grey;
    height: 300px;
    margin-left: 20px;
    margin-top: 40px;
}
.questions li{
    font-size: 20px;
    list-style: none;
    margin-top: 10px;
}
.Submit {
    height: 50px;
    margin: 30px;
    width: 200px;
    background-color: grey;
    font-weight: bold;
    color: bisque;
    border-radius: 5px;
    font-size: 20px;
}
#showscore {
    margin-top: -20%;
    margin-right: 30px;
    border: 2px solid blue;
    width: 30%;
    height: 200px;
    float: right;
    font-size: 25px;
    font-weight: bold;
}